body{
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #653A1E;
}

/**** FONTS ****/
h1 {
    margin: 0;
    font-family: 'Shrikhand', cursive;
    font-size: 46px;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 2px 2px rgba(252, 64, 40, 0.3);
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
}

h3 {
    text-transform: lowercase;
}

p{
    font-family: 'Courier Prime', monospace;
    text-transform: lowercase;
}

a {
    text-decoration: none;
    text-decoration: none;
    color: #653A1E;
}

a:hover, a:visited{
    color: #653A1E;
}

/**** CONTAINERS ****/
header{
    height: 25vh;
    background-image: url('images/fish-overlay.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

section{
    padding-top: 50px;
}

footer {
    margin-top: 25px;
    background-color: #FFDE59;
    padding: 1%;
}

/**** BUTTONS ****/
button{
    display: block;
    margin:auto;
}

.openButton{
    display: block;
    width: 80%;
    padding: 3%;
    margin: 15px auto;
    background-color: #FFDE59;
    border: 2px solid #FA873E;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
}


/**** IMAGES ****/
.logo {
    width: 50%;
}



/**** MEDIA QUERIES ****/
@media (min-width: 768px) and (max-width: 2000px){
    header{
        height: 40vh;
    }

    .openButton{
        width: 50%;
    }

    .openButton{
        padding: 1%; 
    }

    .logo{
        width: 30%;
    }
}